In [7]:
#Q1

list=[10,20,30,40,50,60,70,80]

list.append(200)
list.append(300)

list.remove(10)
list.remove(20)

list.sort()
print(list)
list.sort(reverse=True)
print(list)

[30, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 30]

In [38]:
#Q2

marks=(45,89.5,76,45.4,89,92,58,45)

print("Maximum Score is ",max(marks)," and index is ",marks.index(max(marks)))

print("Lowest Score is ",min(marks), " and it appears ",marks.count(min(marks))," times")

#reversing the tuple and returning as list

marks_list=list(marks[::-1])
print(marks_list)

x=int(input("Enter Number to search in the tuple: "))
try:
    index=marks.index(x)
    print(f"{x} found at index {index}")
except ValueError:
    print(f"{x} not found in the tuple")

Maximum Score is  92  and index is  5
Lowest Score is  45  and it appears  2  times

Enter Number to search in the tuple:  1

1 not found in the tuple

In [66]:
#Q3
import random
list=[]
for i in range(1,101):
    x=random.randint(100,900)
    list.append(x)
#finding odd and even numbers
odd=0
even=0
for i in list:
    if(i%2==0):
        even+=1
    else:
        odd+=1
print(f"{even} Even Numbers\n{odd} Odd Numbers")

#finding number of prime numbers
prime=0
flag=True
for i in list:
    flag=True
    for x in range(2,i):
        if(i%x==0):
            flag=False
            break
    if(flag):
        prime+=1
print("Number of Prime Numbers are ",prime)

49 Even Numbers
51 Odd Numbers
Number of Prime Numbers are  19

In [94]:
#Q4
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

#Finding union and intersection of these two sets

print(A|B)
print(A.union(B))

print(A&B)
print(A.intersection(B))

#Finding Symmetric Differece i.e. elements unique to each set
print(A^B) #prints only unique elements of A and B
print(A.symmetric_difference(B))

#Checking if scores of A are subset of scores of B
print(A.issubset(B))
#Checking if B is superset of A
print(B.issuperset(A))

x=int(input("Enter the value you want to remove from Set A: "))
#Method 1:
try:
    A.remove(x)
    print(f"{x} removed from A")
except KeyError:
    print(f"{x} not found in A")

#Method 2:
# A.discard(x)
# print(A)

{34, 45, 78, 23, 56, 90}
{34, 45, 78, 23, 56, 90}
{90, 78}
{90, 78}
{34, 45, 23, 56}
{34, 45, 23, 56}
False
False

Enter the value you want to remove from Set A:  34

{56, 90, 78}

In [100]:
#Q5
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print(sample_dict)

#now we need to change the "city" key to "location", first get the value
value=sample_dict["city"]

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}